.header { 
    background-color: green; 
    color: white; 
    font-size: 20px; 
    padding: 10px; 
    text-align: center; 
}
.images{
    display:flex;
    flex-direction: row;
    gap:5em;
}
.search-bar { 
    display: flex; 
    flex-direction: row;
    gap:3em;
    align-items: center; 
    justify-content: center; 
    margin: 2em; 
}
#upper-detail{
    font-weight: bold;
    flex-direction: row;
}
.search-input { 
    width: 500px; 
    height: 50px; 
    background-color: #D9D9D9;
    border: 6px solid #006C67;
    padding: 5px;
}

.search-input::placeholder {
    color: black;
    font-weight: bold;
    text-align: center;
  }

.search-button { 
    width: 10em;
    height: 3.5em;
    font-size: 15px;
    font-weight: bold;
    background-color: green;
    color: white;
    border: solid 5px black;
    cursor: pointer;
    border-radius: 12px;
}
.search-results {
    margin: 2rem;
    display:grid;
    grid-template-columns: auto;
}
.detail-summary {
    float: right;
    font-weight:bold;
    right:0;
    margin: 1em 14em
}
.top-container{
    display:flex;
    flex-direction:row;
    gap:7em
}
.organization {
    color:#006C67 !important;
}

.filter { 
    display: flex; 
    align-items: center; 
    gap:4em;
    margin: 12px; }

.filter-label { 
    font-weight: bold; 
    margin-right: 10px; }

.filter-select {
    width: 140px; 
    height: 45px; 
    color: black;
    border: solid 5px #006C67;
    border-radius: 5px; 
    padding: 5px; 
}

.job-list {
    display: flex; 
    flex-flow: column wrap; 
    margin: 10px; 
}
job-list-detail{
    display: flex; 
    flex-flow: column wrap; 
    gap: 5rem;
}

.job-card {
    width: 400px; 
    height: 238px; 
    border: 2px solid #d3d3d3; 
    border-radius: 5px; 
    font-weight: bold;
    margin: 10px; 
    padding: 20px; 
}

.job-card h3 { 
    font-size: 14px; 
    font-weight: bolder;
    color: black; 
    margin-bottom: 10px; 
}

.job-card p { 
    font-size: 14px; 
    color: #006C67; 
    margin-bottom: 10px; 
}
.job-detail-container {
    margin:0.9em 1em;
}

.job-card span { 
    font-size: 12px; 
    color: gray; 
}
.job-detail { 
    width: 600px; 
    height: 300px; 
    border: 2px solid #d3d3d3; 
    border-radius: 5px;  
    padding: 40px; 
    overflow-y: scroll; 
    gap:4em
}
.organization{
    color: #006C67 !important; 
}
.job-detail h2 { 
    font-size: 24px;
    font-weight:bold; 
    color: black; 
    margin-bottom: 10px;
 }

.job-detail p { 
    font-size: 16px; 
    color: black; 
    margin-bottom: 10px;
 }

.job-detail ul { 
    list-style-type: disc; 
    margin-left: 20px; 
}

.job-detail li { 
    font-size: 16px; 
    color: black; 
    margin-bottom: 10px; 
}
.title{
    color:#006C67 !important;
    font-weight:bold;
}
.apply-button { 
    width: 200px; 
    height: 50px; 
    border: none; 
    border-radius: 10px; 
    background-color: green; 
    border: solid 5px black;
    color: white; 
    font-size: 20px; 
    margin: 20px; 
    cursor: pointer; 
}
.pagination-buttons {
    list-style: none;
    display:flex;
    flex-direction: row;
    left:0;
    gap:1em;
    margin:4em 3em;
}
.page {
    padding:14px;
    background-color: green; 
    border: solid 5px black;
    color: white; 
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .search-bar{
        width: 10em;
        height:4px;
        font-size: 8px;
        margin: 2px 4rem;
        align-items: center;
    }
    .filter {
        font-size: 8px;
        margin:6em 18em 8em 1em;
        display: flex;
        flex-direction: column;
    }
    .filter-select {
        left:0
    }
    .job-card{
        width:100%;
        height:40%;
        font-size: 6px !important;
        margin: 1em 0em 5px 0em;
    }
    .job-list{
        font-size: 4px !important;
        display: flex; 
        font-size:6px !important
    }
    .job-detail{
         display: none;
    }
    .pagination-buttons{
        display: none; 
    }
   
}
