.footerapp{
    margin:2em 0 0 0;
    width:100%;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .footerapp{
        position: absolute;
        display: none;
    }
}