/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

html{
    font-size: 16px;
    
}
*{
    font-family: 'Josefin Sans',
    sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    color: #006C67;
}
 img{
    width:18%;
}
.search-button:hover, .apply-button:hover, .page:hover{
    background: linear-gradient(45deg,#ff0000, #006C67, #000000);
    cursor: pointer;
    animation: glowing 20s linear infinite;
}